@charset "utf-8";
/* CSS Document */
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,body,span{
padding:0;margin:0;}
ul,li{list-style:none;}
img{border:0 none;}
a{ text-decoration:none !important; color:#4a4a4a; font-family:"微软雅黑"; }
.fl{float:left;}
.fr{float:right;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
body{ font-family:"微软雅黑"; font-size:14px; color:#555555; line-height:24px; }
.clearfix:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;} 
.clearfix { zoom:1;}
/****最小宽度****/
@media(max-width:449px){
.col-xss-12{width:100%;}
}
@media(max-width:449px){
.col-xss-6{width:50%;}
}
@media(max-width:449px){
.col-xss-4{width:33.3333333%;}
}
@media(min-width: 992px){
.col-mdd-2{width:20%;}
}
@media(max-width:449px){
.col-xss-12{width:100%;}
}
@media(max-width: 767px){
	.container-fluid{
		padding: 0 15px;
	}
}
/**新闻*/
/*.news li{ overflow: hidden; border-bottom:1px dashed #666; padding-bottom:5px; height:38px;
line-height:38px;padding-top:5px;}
.news li a{font-size:14px; color:#000; }*/
/*.newstitle {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}
.news_message{
	height:30px;
	line-height:30px;
	text-align:center;	
}*/
/*分页*/
.pager{
	overflow:hidden; 
	text-align:center; 
	margin-top:60px !important; 
	margin-bottom:0px;
}
.pager span a{ 
	font-size:14px; 
	display:inline-block; 
	color:#000; 
	width: 25px;
	height: 25px;
	line-height:20px; 
	background: #ecebeb;
	text-align: center;
	margin: 0 3px;
	line-height: 25px;
}
.pager .pagerbgnone a{
	background: none;
}
.pager .pagerw a{
	width: 43px;
	background: none;
}
.pager .pagerz a{
	width: 57px;
	background: none;
}
.pager span a:hover{
	background: #3aa0f7;
	color: #fff;
}
.pager span.pagerw a:hover,.pager span.pagerz a:hover,.pager span.pagerbgnone a:hover{
	background: none;
	color: #000;
}
.pager span.active a{
	background: #3aa0f7;
	color: #fff;
}
@media(max-width:767px){
	.pager{ 
		margin-bottom:15px;
		margin-top:15px !important;
	}	
}
.pro_pager{
	text-align: center;
	border-top: 1px solid #ccc;
	margin-top: 50px;
}
.pro_pager span{
	margin: 0 30px;
}
@media(max-width: 449px){
	.pro_pager{
		margin-top: 30px;
	}
}